.app {
  font-family: 'Roboto', sans-serif; 
  width: 100%;
  text-align: start;
}

.header {
  padding: 1rem 4rem 1rem 4rem;
  background-color: #f5ea4b;
}

.content {
  padding: 1rem 4rem 1rem 4rem;
  background-color: rgb(245, 244, 244);
  min-height: 600px;
  .p {
      color: gray;
  }
  .items {
    flex-wrap: wrap;
  }
}
