.item {
    background-color: white;
    border: 0.5px solid #ddd;
    //border-radius: 4px;
    padding: 1rem;
    //margin: 0.5rem;
    display: flex; //1 1 100px; // Adjusts the item size
    gap: 40px;
    text-align: start;

    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #f8f9fa;
    }

    // height: 300px; // Set a fixed height for the container
    // overflow: hidden; // Hide any overflow
    // display: flex; // Optional: use flexbox for alignment
    // justify-content: center; // Center content horizontally
    // align-items: center;


    .image {
        width: 10%;
        //max-width: 5px;
        object-fit: contain;
        max-width: 100%; // Limit width to the container's width
        max-height: 100%; 

      
    }
    .info {
        width: 80%;
        flex-grow: 1;
        align-items: left
    }
    .tag {
        width: 10%;
        color: gray;
        margin-top: 20px;
    }
}