.loading {
  border: 8px solid rgba(0, 0, 0, 0.1); // Light border
  border-left-color: #3498db; // Blue color for the spinner
  border-radius: 50%; // Make it circular
  width: 50px; // Width of the spinner
  height: 50px; // Height of the spinner
  animation: spin 1s linear infinite; // Animation
  //margin: auto; // Center it
  margin-top: 250px;
  margin-bottom: 250px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg); // Rotate the spinner
  }
}