.search-box {
    width: 100%;
    border-radius: 4px;
    form {
      display: flex;
      max-height: 40px;
      justify-content: flex-start;
      img {
        width: 60px;
      }
      input {
        flex: 1;
        padding: 0.5rem;
        border: 1px solid #ddd;
      }
      button {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        .icon {
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0
        }
        border: 1px solid #ddd;
        background-color: #eceff1;
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #87898c;
        }
      }
    }
  }
  